<h1>Rotten Mangoes</h1>
<div>
  <h3>Search for a movie</h3>
  <div class="top-home">
<%= render 'search_bar' %>
</div>
<div class="top-home submit-container">
  <%= link_to "Submit a movie!", new_movie_path %>
</div>

<hr>
<% @movies.each do |movie| %>
  <%= render 'movie', movie: movie %>
  <hr>
<% end %>