// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-home{
  display: table-cell;
  padding: 10px;
}

.submit-container{
  vertical-align: bottom;
}